body{
    background: #FFFFFF;
    color: #FFFFFF;
    font-size: 55px;
    font-family: 'Roboto';
}
.calc{
    width: 315px;
    height: 485px;
    background: #D683CD;
    padding: 5px;
    margin: auto;
    margin-top: 100px;
}
.key{
   
    background: #271616;
    text-align: center;
    cursor: pointer;
    font-size: 55px;
}
.key:active{
    opacity: 0.9;
    transform: scale(0.97);
}
._grid{
    display: grid;
    grid-template-columns: repeat(4, 74px);
    grid-template-rows: 85px repeat(5, 75px);
    gap: 5px;
}
._tablet{
    grid-column: span 4;
}
.tablet{
    background: #F8F1F1;
    height: 85px;
    color: #000;
    display: flex;
    justify-content: end;
    align-items: center;
}
.key_operation{
    background: #5B5757;
}
._c{
    background: #E31925;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
._eq{
    background: #10B40D;
    grid-column: span 3;
}
._backcspace{
    background: #218BEC;
}